.form {
  display: flex;
  border-top: 1px solid #d3d3d3;
  height: 50px;
}

.input {
  border: none;
  border-radius: 0;
  padding-left: 30px;
  width: 100%;
  font-size: 15px;
  height: 36px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-btn {
  color: #fff !important;
  text-decoration: none;
  background: #2979ff;
  display: inline-block;
  border: none;
  width: 20%;
  height: 31px;
  border-radius: 5px;
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.send-btn:hover {
  opacity: 0.8;
}