#loadingGif {
  background: rgba(0, 0, 0, 0.747) url('loading.gif') no-repeat 50% 50%;
  background-size: 99px 99px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 999;
}
